[submodule "simulationservice/qedlib"]
	path = simulationservice/qedlib
	url = https://github.com/comp-phys-marc/qeelib.git
[submodule "simulationservice/emulatorcommon"]
	path = simulationservice/emulatorcommon
	url = https://github.com/comp-phys-marc/emulatorcommon.git
